<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO de mon App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .btn {
            --background-color: var(--primary);
            --border-color: var(--primary);
            --color: var(--primary-inverse);
            --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
            padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
            border: none;
            border-radius: var(--border-radius);
            outline: 0;
            background-color: var(--background-color);
            box-shadow: var(--box-shadow);
            color: var(--color);
            font-weight: var(--font-weight);
            font-size: 1rem;
            line-height: var(--line-height);
            text-align: center;
            cursor: pointer;
            transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
            text-decoration: none;
        }

        .actions a {
            color: #fff;
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .actions form, .actions form button {
            margin-bottom: 0;
        }

        .actions form button {
            background-color: rgb(223, 29, 29);
            border: none;
        }

        .actions a:hover, .actions form button:hover {
            opacity: 0.8;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h1>TODO de mon App</h1>

        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%if(tasks.length){%>
                    <% tasks.forEach(function(task){ %>
                        <tr>
                            <td>
                                <%= task.id %>
                            </td>
                            <td>
                                <%= task.title %>
                            </td>
                            <td>
                                <%= task.description %>
                            </td>
                            <td>
                                <%= task.status %>
                            </td>
                            <td class="actions">
                                <a class="btn" href="/tasks/<%= task.id %>/edit">Edit</a>
                                <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                            <% }else{ %>
                                <tr>
                                    <td colspan="3">No tasks</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>